* {
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.main-content {
    height: 1000px;
    display: grid;
    margin: 20px auto;
    grid-template-columns: 300px 700px;
    width: 90%;
}

.left-section {
    display: -moz-box;
    background-color: blueviolet;
    /* grid-column: 300px;
    column-span: 300px; */
    
}

.right-section {
    display: grid;
    width: 90%;
    background-color: cyan;
}

.left-content {
    padding: 1rem;
    display: block;
}
.profile {
    align-items: center;
}